#display {
  font-family: monospace;
  font-size: 150px;
  color: green;

  /* Typography */
  text-align: center;

}


.rowUpper {
  height: 50px;
}

/* .row {
  height: 50px;
} */

.jumbotron {
  background-color: #F5B041;
  
}